<div class="loginColumns animated fadeInDown">
  <div class="row">
    <div class="col-md-12">
      <div class="profile-image">
        <img src="http://www.etradelicense.gov.bd/images/CC_logo.png" class="rounded-circle circle-border m-b-md" alt="profile">
      </div>
      <div class="profile-info">
        <div class="">
          <div>
            <h1 class="no-margins">
              E-Trade License
            </h1>
            <h4>Local Government Division, Bangladesh</h4>
            <p class="text-justify"> There are many variations of passages of Lorem Ipsum available, but the majority
              have suffered alteration in some form Ipsum available. Some Text, Default Text.....</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a class="btn btn-primary" routerLink="/login">Login</a>&nbsp;&nbsp;
          <a class="btn btn-primary" routerLink="/signup">Sign-up</a>
        </div>
      </div>
    </div>
  </div>
</div>