
    <div class="passwordBox animated fadeInDown">
        <div class="row">
            <div class="col-md-12">
                
                <form [formGroup]="SendOtpToMobile" *ngIf="activeForm==='s' && sendCodeType=='true'" (ngSubmit)="sendOTPToMobile()">
                        <div class="ibox-content">
                                <h2 class="font-bold">Forgot password</h2>
                                <p>
                                    Enter your mobibe no or email address and your password will be reset and send to you.
                                </p>
                                <br/>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group ">
                                            <div class="row">
                                                <div class="col-md-3" style="text-align: left;">
                                                    Send Code
                                                </div>
                                                <div class="col-md-9" style="text-align: left;">
                                                    <input type="radio" name="sendcode" value="Mobile" (click)="setsendCodeType('true')" checked> Mobile
                                                    <input type="radio" name="sendcode" value="Email" (click)="setsendCodeType('false')" > Email
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" (keyup)="changeNextBtnWtngState()" formControlName="mobileNo" placeholder="Mobile number">
                                            <div class="alert-danger" *ngIf="mobileNo.touched && mobileNo.invalid && !mobileNo.errors?.minlength && !mobileNo.errors?.maxlength && !mobileNo.errors?.pattern">Mobile number is required </div>
                                            <div class="alert-danger" *ngIf="mobileNo.errors?.minlength">Enter 10 digit Mobile number </div>
                                            <div class="alert-danger" *ngIf="mobileNo.errors?.maxlength">Enter 10 digit Mobile number </div>
                                            <div class="alert-danger" *ngIf="mobileNo.errors?.pattern">Enter only numbers </div>
                                        </div>
                                        <button type="submit"  class="btn btn-primary block full-width m-b" [disabled]="nextBtn.waiting">Next</button>
                                        <button routerLink="/login" class="btn btn-white block full-width m-b">Login</button>
                                    </div>
                                </div>
                        </div>
                </form>
                <form [formGroup]="SendOtpToEmail" *ngIf="activeForm==='s' && sendCodeType=='false'" (ngSubmit)="sendOTPToEmail()">
                    <div class="ibox-content">
                            <h2 class="font-bold">Forgot password</h2>
                            <p>
                                Enter your mobibe no or email address and your password will be reset and send to you.
                            </p>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group ">
                                        <div class="row">
                                            <div class="col-md-3" style="text-align: left;">
                                                Send Code
                                            </div>
                                            <div class="col-md-9" style="text-align: left;">
                                                <input type="radio" name="sendcode" value="Mobile" (click)="setsendCodeType('true')"> Mobile
                                                <input type="radio" name="sendcode" value="Email" (click)="setsendCodeType('false')" checked> Email
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" (keyup)="changeNextBtnWtngState()" formControlName="emailAddress" placeholder="Email address">
                                        <div class="alert-danger" *ngIf="email.touched && email.invalid">Email is required </div>
                                        <div class="alert-danger" *ngIf="email.invalid && email.touched">Enter valid email</div>
                                    </div>
                                    <button type="submit"  class="btn btn-primary block full-width m-b" [disabled]="nextBtn.waiting">Next</button>
                                    <button routerLink="/login" class="btn btn-white block full-width m-b">Login</button>
                                </div>
                            </div>
                        </div>
                </form>
                <form [formGroup]="RecoverPass" *ngIf="activeForm==='r'" (ngSubmit)="recoverPassWord()">
                        <div class="alert alert-danger" *ngIf="checkStatus==true">
                                Please fill all required field
                        </div>
                        <div class="ibox-content">
                            <h2 class="font-bold">Recover Password</h2>
                            <br/>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group" >
                                        <input type="text" class="form-control" formControlName="placeOtp" placeholder="Place OTP">
                                        <div class="alert-danger" *ngIf="otp.touched && otp.invalid">Please enter OTP</div>
                                    </div>
                                    <div class="form-group" >
                                        <input type="password" class="form-control" formControlName="newPassword" placeholder="New Password">
                                        <div class="alert-danger" *ngIf="password.touched && password.invalid && !password.errors?.minlength">Password is required</div>
                                        <div class="alert-danger" *ngIf="password.errors?.minlength">Password should contain atleast 5 characters</div>
                                    </div>
                                    <div class="form-group" >
                                        <input type="password" class="form-control" (keyup)="checkPassword()" formControlName="confPassword" placeholder="Confirm Password">
                                        <div class="alert-danger" *ngIf="passMatcher==false">Password mismatch</div>
                                    </div>
                                    <button type="submit" class="btn btn-primary block full-width m-b">Change Password</button>
                                    <button class="btn btn-white block full-width m-b" (click)="toggleForm()" [disabled]="SendOtpFormState.waiting">Resend OTP</button>
                                </div>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>

